@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

.hero-screen{
    background: rgb(1, 14, 1);
    width: 100%;
    height: 100dvh;
    font-family: 'Syne', sans-serif;

    .hero-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto 0;
        gap: 20px;
        height: 80%;
        color: white;


        .hero-floating{
            padding: 1rem 2rem;
            border: 1px solid green;
            border-radius: 30px;
            width: max-content;
            font-size: smaller;
            background: transparent;
            background: rgba(142, 248, 151, 0.15);
            backdrop-filter: blur(6px);
            -webkit-backdrop-filter: blur(6px);
        }

        .hero-title{
            margin-top: 2rem;
            font-size: 2.5rem;
            font-weight: 900;
            text-align: center;
            color: white;
            width: 65rem;
            line-height: 0.9;
            font-size: 90px;

            .span-white{
                color: rgb(8, 54, 8);
            }
        }

        .hero-description{
            font-size: 1.5rem;
            text-align: center;
            max-width: 600px;
            line-height: 1.5;
        }

        .hero-btns{
            display: flex;
            gap: 25px;
            margin-top: 1.5rem;

            .join-brotherhood{
                background: green;
                color: white;
                padding: 16px 25px;
                border: none;
                border-radius: 20px;
                cursor: pointer;
                display: flex;
                align-items: center;
                gap: 5px;
            }
    
            .our-story{
                background: transparent;
                color: white;
                padding: 16px 25px;
                border: 1px solid white;
                border-radius: 20px;
            }
        }

    }
    
}


/* tablet */
@media (max-width: 768px) {
    .hero-screen {
        padding: 2rem 1rem;

        .hero-content {
            gap: 18px;

            .hero-title {
                line-height: 1;
            }

            .hero-description {
                max-width: 90%;
            }
        }
    }
}


/* mobile */

@media (max-width: 480px) {
    .hero-screen {
        .hero-content {

            .hero-floating {
                font-size: 0.75rem;
                padding: 0.7rem 1rem;
            }

            .hero-title {
                width: 100%;
                font-size: 30px;
            }

            .hero-description {
                max-width: 300px;
                font-size: 0.8rem;
            }

            .hero-btns {
               gap: 16px;

            }
        }
    }
}